/src/AndroidLanches.API/.vs
/src/AndroidLanches.Domain/.vs
/src/AndroidLanches.Infra/.vs
/src/AndroidLanches.API/AndroidLanches.API/bin
/src/AndroidLanches.Domain/AndroidLanches.Domain/bin
/src/AndroidLanches.Infra/AndroidLanches.Infra/bin
/src/AndroidLanches.API/AndroidLanches.API/obj
/src/AndroidLanches.Domain/AndroidLanches.Domain/obj
/src/AndroidLanches.Infra/AndroidLanches.Infra/obj